{%include 'loginTop.html'%}

<section class="min-vh-100" style="background-color: #cef2ff;">
    <div class="position-absolute end-0 top-0 m-3">
        <a href="/login/" class="btn btn-danger btn-sm">Cerrar sesión</a>
    </div>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-black text-center">
                        <form>
                            <div class="d-flex justify-content-center mb-5">
                                <span class="h1 fw-bold">¡Bienvenido, {{ nombre_usuario|default:"Usuario" }}!</span>
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <span class="h5">Rol: {{ tipo_usuario|default:"Sin rol" }}</span>
                            </div>

                            <div class="row text-center">
                                <!-- Columna izquierda -->
                                <div class="col-md-6">
                                    <div class="d-grid gap-2 mb-4">
                                        <h4>Visitas</h4>
                                        <a href="/coordultvisitas/" class="btn btn-warning btn-lg">Revisar Ultimas Visitas</a>
                                    </div>
                                    <div class="d-grid gap-2 mb-4">
                                        <h4>Personal</h4>
                                        <a href="/usuarios/" class="btn btn-primary btn-lg">Revisar Trabajadores</a>
                                    </div>
                                </div>

                                <!-- Columna derecha -->
                                <div class="col-md-6">
                                    <!-- Botón de Administrador -->
                                    <div class="d-grid gap-2 mb-4">
                                        <h4>Pacientes</h4>
                                        <a href="/coordPacientes/" class="btn btn-success btn-lg">Ver panel de pacientes</a>
                                    </div>

                                    


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}