{% include 'loginTop.html' %}
<section class="vh-100" style="background-color: #cef2ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-black text-center">

                        <!-- Botón Volver en la parte superior izquierda -->
                        <div class="text-start mb-4">
                            <a href="/omnicell/" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Volver
                            </a>
                        </div>

                        <h3 class="mb-4">Listado de Insumos</h3>

                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre del Remedio</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Método de uso</th>
                                    <th scope="col">Contraindicaciones</th>
                                    <th colspan="3">Modificar Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in inventario%}
                                <tr>
                                    <td>{{ i.item.item }}</td>
                                    <td>{{ i.item.descripcion }}</td>
                                    <td>{{ i.cantidad }}</td>
                                    <td>{{ i.item.metodouso }}</td>
                                    <td>{{ i.item.contraindicaciones }}</td>
                                    <td>
                                        <a href="../bodegaRestar/{{i.id}}"
                                          class='btn btn-warning'>-
                                       </a>
                                    </td>
                                    <td>
                                        <a href="../bodegaSumar/{{i.id}}"
                                          class='btn btn-success'>+
                                       </a>
                                    </td>
                                    <td>
                                        <a href="../bodegaBorrar/{{i.id}}"
                                          class='btn btn-danger'><i class="bi bi-trash"></i>
                                       </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="mt-4">
                            <a href="/bodegaAgregar" class="btn btn-primary btn-action">
                                <i class="bi bi-plus"></i> Agregar
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}