{%include 'loginTop.html'%}

<section class="min-vh-100" style="background-color: #cef2ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-black text-center">
                        <form method="POST">
                            {% csrf_token %}

                            <!-- Menú desplegable y caja de texto -->
                            <div class="row mb-4">
                                <div class="col-md-10">
                                    <select class="form-select" name="insumo" aria-label="Seleccionar opción">
                                        <option value="" disabled selected>Seleccione un item</option>
                                        {% for insumo in insumos %}
                                            <option value="{{ insumo.id }}">{{ insumo.item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" name="cantidad" class="form-control" placeholder="Cantidad" aria-label="Texto pequeño" required>
                                </div>
                            </div>

                            

                            <!-- Botones en 2 columnas -->
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <div class="d-grid gap-2 mb-4">
                                        <a href="/bodegaOmni/" class="btn btn-warning btn-lg">Regresar</a>
                                    </div>
                                </div>

                                <!-- Columna derecha -->
                                <div class="col-md-6">
                                    <div class="d-grid gap-2 mb-4">
                                        <button class="btn btn-success btn-lg" type="submit">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}