{%include 'loginTop.html'%}

<section class="min-vh-100" style="background-color: #cef2ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-black text-center">
                        <form>
                            

                            <!-- Botones en 2 columnas -->
                            <div class="row text-center">
                                <!-- Columna izquierda -->
                                <div class="col-md-6">
                                    <div class="d-grid gap-2 mb-4">
                                        <h4>Omnicell</h4>
                                        <button class="btn btn-warning btn-lg" type="button">Realizar un pedido al Omnicell</button>
                                    </div>
                                </div>

                               

                                <!-- Columna derecha -->
                                <div class="col-md-6">
                                    <!-- Botón de Administrador -->
                                    <div class="d-grid gap-2 mb-4">
                                        <h4>Inventario</h4>
                                        <button class="btn btn-success btn-lg" type="button">Ver Inventario</button>
                                    </div>

                                    


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}