{%include 'loginTop.html'%}

<section class="min-vh-100" style="background-color: #cef2ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8">
                <div class="card shadow-lg" style="border-radius: 1rem; background-color: #f9fbfc;">
                    <div class="card-body p-5 text-black">
                        <form>
                            <div class="d-flex justify-content-center mb-5">
                                <span class="h1 fw-bold" style="color: #007bff;">Administración de Visitas</span>
                            </div>

                            <div class="row text-center">
                                <div class="col-md-6">
                                    <div class="d-grid gap-2 mb-4">
                                        <h4 class="text-primary">Registrar visita</h4>
                                        <a href="/regvisita/" class="btn btn-primary btn-lg rounded-pill shadow-sm">Registrar</a>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="d-grid gap-2 mb-4">
                                        <h4 class="text-success">Historial de visitas</h4>
                                        <a href="/ultvisitas/" class="btn btn-success btn-lg rounded-pill shadow-sm">Ultimas Visitas</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="d-grid gap-2 mt-3"> 
                        <a href="/enfermero/" class="btn btn-success btn-lg rounded-pill">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}
