{%include 'loginTop.html'%}

<section class="min-vh-100" style="background-color: #cef2ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8">
                <div class="card shadow-lg" style="border-radius: 1rem; background-color: #f9fbfc;">
                    <div class="card-body p-5 text-black">
                        <div class="d-flex justify-content-center mb-5">
                            <span class="h1 fw-bold" style="color: #007bff;">Detalles Ultimas Visitas del Paciente</span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Fecha de Visita</th>
                                        <th scope="col">Nombre del Paciente</th>
                                        <th scope="col">Antecedentes</th>
                                        <th scope="col">Presión Arterial</th>
                                        <th scope="col">Frecuencia Cardíaca</th>
                                        <th scope="col">Saturometría</th>
                                        <th scope="col">Temperatura</th>
                                        <th scope="col">Hemoglucotest</th>
                                        <th scope="col">Motivo de la Visita</th>
                                        <th scope="col">Indicaciones</th>
                                        <th scope="col">Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visita in visitas %}
                                        <tr>
                                            <td>{{ visita.fechavisita }}</td>
                                            <td>{{ visita.paciente.nombres }} {{ visita.paciente.apellidos }}</td>
                                            <td>{{ visita.antecedentes }}</td>
                                            <td>{{ visita.presionart }}</td>
                                            <td>{{ visita.frecuenciacard }}</td>
                                            <td>{{ visita.saturometria }}</td>
                                            <td>{{ visita.temperatura }}</td>
                                            <td>{{ visita.hemoglucotest }}</td>
                                            <td>{{ visita.motivovisita }}</td>
                                            <td>{{ visita.indicaciones }}</td>
                                            <td>{{ visita.observaciones }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <a href="/pacientes" class="btn btn-success btn-lg rounded-pill">Regresar al Historial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}

